#app {
  font-family: 'Courier New', Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: #007ba7;
}

input {
  font-family: 'Courier New', Helvetica, sans-serif;
}

button {
  font-family: 'Courier New', Helvetica, sans-serif;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  font-size: 14px;
  padding: 4px 8px;
}

.button {
  background-color: #007ba7;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 4px 8px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/** Аутентификация и регистрация. */

.block-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 400px;
}

.block-login * {
  box-sizing: border-box;
}

.input-login {
  width: 200px;
}

.button-login {
  background-color: white;
  color: black;
  border: 2px solid #007ba7;
  width: 200px;
}

.button-login:hover {
  background-color: #007ba7;
  color: white;
}
