#app {
  font-family: 'Courier New', Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: #007ba7;
}

input {
  font-family: 'Courier New', Helvetica, sans-serif;
}

input, label {
  display:block;
  text-align: left;
}

button {
  font-family: 'Courier New', Helvetica, sans-serif;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  font-size: 14px;
  padding: 4px 8px;
  border: 1px solid #C0C0C0;
  border-radius: 4px;
}

.button {
  background-color: #007ba7;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 4px 8px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

/** Аутентификация и регистрация. */

.block-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 400px;
}

.block-login * {
  box-sizing: border-box;
}

.input-login {
  width: 200px;
}

.button-login {
  background-color: white;
  color: black;
  border: 2px solid #007ba7;
  width: 200px;
}

.button-login:hover {
  background-color: #007ba7;
  color: white;
}

/** Список книг. */

.block-books {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.block-books * {
  box-sizing: border-box;
}

.button-books {
  background-color: white;
  color: black;
  border: 2px solid #007ba7;
}

.button-books:hover {
  background-color: #007ba7;
  color: white;
}

.button-books-red {
  background-color: white;
  color: black;
  border: 2px solid #ff6347;
}

.button-books-red:hover {
  background-color: #ff6347;
  color: white;
}

.button-books-green {
  background-color: white;
  color: black;
  border: 2px solid #3CB371;
}

.button-books-green:hover {
  background-color: #3CB371;
  color: white;
}

/** Добавление или изменение книги. */

.block-create-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
}

.block-create-book * {
  box-sizing: border-box;
}

.input-create-book {
  width: 300px;
}

.button-create-book {
  background-color: white;
  color: black;
  border: 2px solid #007ba7;
  width: 300px;
}

.button-create-book:hover {
  background-color: #007ba7;
  color: white;
}
